.header {
}

.header__top {
  background-color: $brandColor;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  @media (max-width: $breakpoint480) {
    padding: 12px 0;
  }
}
.header__top-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__top-button {
}

.header__button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $whiteColor;
  opacity: 0.5;
  cursor: pointer;
}

.header__button--active {
  opacity: 1;
}

.header__link {
    display: inline-flex;
    align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  color: $whiteColor;
  &:hover {
    opacity: 0.5;
    transition: 0.3s all ease;
  }
}

// Navbar
nav {
  // background-color: $bgColor;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  @media (max-width: $breakpoint480) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 30px;
  @media (max-width: $breakpoint480) {
    gap: 15px;
    img {
        width: 120px;
        height: auto;
    }
  }
}

.logo__link-logo {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 46px;
    background-color: $whiteColor;
    top: 0;
    right: -31px;
    @media (max-width: $breakpoint480) {
        height: 34px;
        right: -17px;
    }
  }
}

.hero__img {
  &:hover {
    opacity: 0.5;
    transition: 0.3s all ease;
  }
}

.logo__link-text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $whiteColor;
  &:hover {
    opacity: 0.5;
    transition: 0.3s all ease;
  }
  @media (max-width: $breakpoint480) {
    font-size: 12px;
    line-height: 14px;
    svg {
        width: 15px;
        height: auto;
    }
  }
}

.menu {
  display: flex;
  gap: 30px;
  // .menu__item
  &__item {
    // margin-left: 25px;
  }

  // .menu__item-link
  &__item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $whiteColor;
    &:hover {
      opacity: 0.5;
      transition: 0.3s all ease;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  // .menu
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 22px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 10px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 1px;
    }

    &::after {
      bottom: 3px;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 5px;
  }

  // .menu__link
  .menu__item-link {
    color: white;
  }
}
